In [63]:
from Bio.SeqIO.FastaIO import SimpleFastaParser
from Bio.SeqUtils import gc_fraction

import config_readwrite as crw
import glob

import matplotlib.pyplot as plt
import numpy as np
import os, sys

import pandas as pd

from scipy import stats
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler


from plot_params import fonts

In [2]:
config, cfn = crw.read(os.path.join(os.path.dirname(os.getcwd()), "config.ini"))

# dependent variables
section = "data"

MPRA = config[section]["HEPG2.clean"]

# independent variables
section = "FIMO"

FIMO_MOTIF_MAX_TABLE = config[section]["max_score_table"]
FIMO_MOTIF_MAX_PTABLE = config[section]["max_score_pval_table"]

## load US

In [ ]:
us = pd.read_csv(MPRA, sep='\t')

## clean up US
- remove synthetic sequences
- group sequences that overlap to reduce data leakage

In [60]:
tf = pd.read_csv(FIMO_MOTIF_MAX_TABLE, sep='\t')

tf.head()

,MA0001.2,MA0002.2,MA0003.4,MA0005.2,MA0007.3,MA0009.2,MA0010.1,MA0011.1,MA0012.1,MA0013.1,...,MA1983.1,MA1984.1,MA1985.1,MA1986.1,MA2005.1,MA2006.1,MA2007.1,MA2008.1,MA2009.1,MA2010.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.8455,NaN,NaN,NaN,NaN,12.5102
1,NaN,NaN,NaN,NaN,13.4828,NaN,14.6757,NaN,NaN,12.1339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,14.6757,NaN,NaN,11.4094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
transform = MaxAbsScaler()
t = pd.DataFrame(transform.fit_transform(tf))
t

,0,1,2,3,4,5,6,7,8,9,...,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.963415,NaN,NaN,NaN,NaN,0.904132
1,NaN,NaN,NaN,NaN,0.601540,NaN,0.888225,NaN,NaN,0.803442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.888225,NaN,NaN,0.755469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.765898,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82425,NaN,NaN,0.567606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82426,NaN,NaN,0.567606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82427,NaN,NaN,NaN,NaN,0.382308,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.425957,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pipe = Pipeline([('scaler', MaxAbsScaler()), ('reg', LinearRegression())])

X = np.vstack(us["logFC"])
y = np.vstack(us["logFC"])

pipe.fit(X, y)

print(pipe.score(X, y))

reg = pipe.named_steps["reg"]